# Pebble build output
pebble-app/build/
pebble-app/node_modules/
pebble-app/package-lock.json
pebble-app/.lock-waf*

# Android build output
android-companion/build/
android-companion/app/build/
android-companion/.gradle/
android-companion/local.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
